.block-form__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.1px;

  color: #363636;
  margin-top: 32px;
}

.block-form_center {
  text-align: center;
}

@media (max-width: 558px) {
  .block-form__item-text {
    font-size: 15px;
    line-height: 20px;
  }
}
