.grid {
  display: grid;
  grid-template-columns: 279px 1fr;
  grid-template-rows: 1fr;
  grid-gap: 6px;
  padding-bottom: 54px;
  margin-top: 46px;
  position: relative;
}

@media (max-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 31px;
  }
}
