.block-form__auth {
  margin-bottom: 57px;
}
.block-form_email {
  padding: 23px 56px 48px 56px;
}
.block-form__auth-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #727272;
  position: relative;
}

.block-form__auth-link::after {
  content: '';
  display: block;
  position: absolute;
  left: -30px;
  top: 2px;
  width: 18px;
  height: 12px;
  background: url(../../assets/svg/arrow-left.svg) center center/cover no-repeat;
}

.block-form__auth-blok {
  display: block;
}

.block-form__auth-none {
  display: none;
}
